<div class="p-non-exfoliate-outer-padding">
{{#each block.data.details as |orgData|}}
    <div class="notification-body-details-container">
        <div class="padding-0-5">
            <div>
                <span class="p-key">{{orgData.owner.type}}: </span>
                <span class="p-value"><a href="{{orgData.webLink}}">{{orgData.owner.name}} <i class="btb bt-external-link"></i></a></span>
            </div>
            <div>
                <span class="p-key">Date Added:</span>
                <span class="p-value">{{moment-time orgData.dateAdded}}</span>
            </div>
            <div>
                <span class="p-key">Last Modified:</span>
                <span class="p-value">{{moment-time orgData.lastModified}}</span>
            </div>
            <div>
                <span class="p-key">Rating: </span>
                {{#if orgData.rating}}
                    <span class="p-value">{{orgData.rating}} / 5 Skulls</span>
                {{else}}
                    <span class="p-value">No Rating</span>
                {{/if}}
            </div>
            <div>
                <span class="p-key">Confidence</span>
                <span class="p-value">{{orgData.confidence}} / 100</span>
            </div>
            <div>
                <span class="p-key">Threat Assess Rating: </span>
                {{#if orgData.threatAssessRating}}
                    <span class="p-value">{{orgData.threatAssessRating}}</span>
                {{else}}
                    <span class="p-value">No Threat Assess Rating</span>
                {{/if}}
            </div>
            <div>
                <span class="p-key">Threat Assess Confidence: </span>
                {{#if orgData.threatAssessConfidence}}
                    <span class="p-value">{{orgData.threatAssessConfidence}}</span>
                {{else}}
                    <span class="p-value">No Threat Assess Confidence</span>
                {{/if}}
            </div>
            {{#if (eq orgData.tags.length 0)}}
                <div>
                    <span class="p-footnote">No Tags</span>
                </div>
            {{else}}
                <div class="tag-container">
                    {{#each orgData.tags as |tag|}}
                        <a href="{{tag.webLink}}" class="tc-link-tag">
                            <span class="label-notification threatconnect-summary-tag">
                                {{tag.name}}
                            </span>
                        </a>
                    {{/each}}
                    <i class="bts bt-label muted"></i> <i class="btb bt-external-link muted"></i>
                </div>
                <div style="clear:both"></div>
            {{/if}}
        </div>
    </div>
{{/each}}
</div>
